html {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}

* {
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@media (max-height: 535px) {
    .headerText {
        transform: scale(1.1) !important;
        opacity: 0 !important;
    }
    .navbar {
        transform: scale(1.1) !important;
        opacity: 0 !important;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(116, 0, 255);
}

.bgPattern {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("bg_pattern.png");
    background-size: 54px;
    opacity: 0.15;
    z-index: -1;
}

.input-group {
    width: 500px;
    border-radius: 34px;
    transition: all 300ms;
    box-sizing: content-box !important;
    height: fit-content;
}

.input-group * {
    font-size: 14px;
    color: #3A3A3A;
}

.form-control {
    padding-left: 17px;
    border-radius: 34px 0 0 34px !important;
    border: none;
    height: 46px;
}

.form-control:focus {
    box-shadow: none !important;
}

#chatSendBtn {
    border-top-right-radius: 999999px !important;
    border-bottom-right-radius: 999999px !important;
    background-color: rgb(97, 229, 110) !important;
    border: none;
    font-weight: 600;
    height: 100%;
    text-align: center;
    transition: all 200ms;
    width: 80.8px;
}

#chatSendBtn:hover {
    background-color: rgb(93, 248, 108) !important;
    color: rgb(70, 70, 70);
}

.btn {
    font-weight: 800px !important;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.btn:focus {
    box-shadow: none !important;
}

.btn:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, .2);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
}

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    20% {
        transform: scale(15, 15);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(20, 20);
    }
}

button:focus:not(:active)::after {
    animation: ripple 600ms ease-out;
}

.floatingText {
    background: transparent !important;
    opacity: 0 !important;
}

@keyframes sendTextUp {
    0% {
        opacity: 1;
    }
    100% {
        transform: translateY(-100px);
        opacity: 0;
    }
}

.animate {
    animation: sendTextUp 600ms ease-out;
}

.receivedMsg {
    overflow: auto;
    font-size: 14px;
    width: 500px;
    height: 230px;
    background-color: rgb(255, 255, 255);
    padding: 12px 17px;
    border-radius: 23px;
}

.typewriter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: fit-content;
}

.typewriter * {
    overflow: hidden;
    border-right: 0em solid rgb(243, 243, 243);
    white-space: nowrap;
    animation: typing .7s steps(12, end),
    blink-caret .5s step-end infinite;
    height: 100%;
    margin: 0;
}

.typewriter p {
    display: flex;
    align-items: center;
}

/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%;
    }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: rgb(243, 243, 243)
    }
}

.headerText{
    color: white;
    padding: 30px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    transition: opacity 600ms,transform 600ms;
}
.headerText h1{
    font-size: 48px;
    font-weight: 800;
}
.headerText h2{
    font-weight:600;
}
.headerText h4{
    font-weight:600;
    font-size: 14px;
}

.navbar{
    width: 100%;
    transition: opacity 600ms,transform 600ms;
}

.nav-item .btn{
    margin: 0px 3px;
    background: none;
    font-size: 20px;
    color: white;
    transition: all 300ms;
}

.nav-item .btn:hover{
    color: rgb(211, 211, 211);
}

.nav-item .btn:focus {
    outline:none;
}

.nav-item .btn:active{
    color: rgb(158, 158, 158);
}

.dropdown-menu{
    font-size: 14px;
    width: 300px;
}

.dropdown-menu p{
    margin-bottom: 0.5rem;
}

.dropdown-menu div{
    padding: .25rem 1.5rem;
}

.dropdown-menu input,.dropdown-menu input:focus{
    font-size: 14px;
    border-radius: 5px !important;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(233, 236, 239);
    height: 36px;
}

.dropdown-item:active{
    background-color: rgb(97, 229, 110);
}

.show > #navbarDropdown{
    transform: rotate(45deg);
}

.ontop{
    position: absolute;
    z-index: 999999;
}

.centered {
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.unselectable {
    user-select: none !important;
    -moz-user-select: none !important;
    -khtml-user-select: none !important;
    -webkit-user-select: none !important;
    -o-user-select: none !important;
    -ms-user-select: none !important;
}